/* 
==========================================================================
Root variables
========================================================================== 
*/
:root {
  --dark-blue: #1f2937;
  --light-gray: #e5e7eb;
}

/*
==========================================================================
Base divs
========================================================================== 
*/

.top {
  background: var(--dark-blue)
}

.quote {
  background: var(--light-gray)
}
